.hero-deejay {
  max-width: 980px;
  height: 378px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 67, 103, 0.7)), to(rgba(238, 67, 103, 0.7))), url(/images/gallery/1.png);
  background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(/images/gallery/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.deejay {
  max-width: 980px;
  height: 378px;
  margin: -25px auto 0 auto;
}

.deejay .deejay-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  border-bottom: solid 2px #000000;
  padding-right: 30px;
  padding-bottom: 15px;
}

.deejay p {
  margin-top: 50px;
}