* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  width: 980px;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: solid 2px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: GillSansReg;
}
nav .logo {
  position: relative;
  width: 92px;
  height: 42px;
  border: solid 2px #000000;
}
nav .logo span {
  position: absolute;
  bottom: -5px;
  color: #000000;
}
nav .links {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
nav .links a {
  text-decoration: none;
  color: #000000;
}
nav .links span {
  color: #ee4367;
}

.hero {
  max-width: 980px;
  height: 378px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.7)), to(rgba(255, 209, 64, 0.7))), url("../images/gallery/1.png");
  background-image: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url("../images/gallery/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.history {
  max-width: 980px;
  height: 378px;
  margin: -25px auto 0 auto;
}

.history .history-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  border-bottom: solid 2px #000000;
  padding-right: 30px;
  padding-bottom: 15px;
}

.history p {
  margin-top: 50px;
}

footer {
  width: 100%;
  height: 455px;
  background-color: #EE4367;
  margin: 0 auto;
}
footer .logo {
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  width: 109px;
  height: 42px;
  border: solid 2px #ffffff;
}
footer .logo span {
  position: absolute;
  bottom: -5px;
  color: #ffffff;
}
footer .footer-info {
  width: 300px;
  height: 150px;
  margin: 0 auto;
}
footer .footer-info p {
  font-size: 24px;
  color: white;
}
footer .signup {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
footer .signup input {
  height: 100%;
  width: 529px;
  background-color: #f56b88;
  border: none;
  color: rgba(238, 67, 103, 0.5);
}
footer .signup ::-webkit-input-placeholder {
  color: rgba(238, 67, 103, 0.5);
  opacity: 1;
}
footer .signup ::-moz-placeholder {
  color: rgba(238, 67, 103, 0.5);
  opacity: 1;
}
footer .signup :-ms-input-placeholder {
  color: rgba(238, 67, 103, 0.5);
  opacity: 1;
}
footer .signup ::-ms-input-placeholder {
  color: rgba(238, 67, 103, 0.5);
  opacity: 1;
}
footer .signup ::placeholder {
  color: rgba(238, 67, 103, 0.5);
  opacity: 1;
}
footer .signup .button {
  height: 100%;
  width: 167px;
  background-color: #ffffff;
}

.gallery {
  max-width: 980px;
  min-height: 378px;
  margin: 0 auto;
}

.gallery span {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: solid 2px #000000;
  padding-right: 50px;
  padding-bottom: 20px;
}

.gallery-images {
  margin-top: 50px;
}

.gallery-images div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rowOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.imageOne {
  width: 489px;
  height: 187px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.7)), to(rgba(255, 209, 64, 0.7))), url("../images/gallery/1.png");
  background-image: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url("../images/gallery/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imageTwo {
  width: 187px;
  height: 187px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 67, 103, 0.7)), to(rgba(238, 67, 103, 0.7))), url("../images/gallery/1.png");
  background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url("../images/gallery/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imageThree {
  width: 265px;
  height: 187px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 173, 105, 0.7)), to(rgba(8, 173, 105, 0.7))), url("../images/gallery/1.png");
  background-image: linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url("../images/gallery/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rowTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.imageFour {
  width: 603px;
  height: 306px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 13, 110, 0.7)), to(rgba(84, 13, 110, 0.7))), url("../images/gallery/1.png");
  background-image: linear-gradient(rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url("../images/gallery/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imageFive {
  width: 355px;
  height: 306px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 206, 171, 0.7)), to(rgba(59, 206, 171, 0.7))), url("../images/gallery/1.png");
  background-image: linear-gradient(rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url("../images/gallery/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 806px) {
  .rowOne div {
    width: 600px;
  }
}
.hero-food {
  max-width: 980px;
  height: 378px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.7)), to(rgba(255, 209, 64, 0.7))), url("../images/gallery/1.png");
  background-image: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url("../images/gallery/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.foodfest {
  max-width: 980px;
  height: 378px;
  margin: -25px auto 0 auto;
}

.foodfest .food-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  border-bottom: solid 2px #000000;
  padding-right: 30px;
  padding-bottom: 15px;
}

.food p {
  margin-top: 50px;
}

.hero-deejay {
  max-width: 980px;
  height: 378px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 67, 103, 0.7)), to(rgba(238, 67, 103, 0.7))), url("../images/gallery/1.png");
  background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url("../images/gallery/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.deejay {
  max-width: 980px;
  height: 378px;
  margin: -25px auto 0 auto;
}

.deejay .deejay-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  border-bottom: solid 2px #000000;
  padding-right: 30px;
  padding-bottom: 15px;
}

.deejay p {
  margin-top: 50px;
}

.hero-speech {
  max-width: 980px;
  height: 378px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 173, 105, 0.7)), to(rgba(8, 173, 105, 0.7))), url("../images/gallery/1.png");
  background-image: linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url("../images/gallery/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.speech {
  max-width: 980px;
  height: 378px;
  margin: -25px auto 0 auto;
}

.speech .speech-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  border-bottom: solid 2px #000000;
  padding-right: 30px;
  padding-bottom: 15px;
}

.speech p {
  margin-top: 50px;
}

.hero-openfood {
  max-width: 980px;
  height: 378px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 13, 110, 0.7)), to(rgba(84, 13, 110, 0.7))), url("../images/gallery/1.png");
  background-image: linear-gradient(rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url("../images/gallery/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.openfood {
  max-width: 980px;
  height: 378px;
  margin: -25px auto 0 auto;
}

.openfood .openfood-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  border-bottom: solid 2px #000000;
  padding-right: 30px;
  padding-bottom: 15px;
}

.speech p {
  margin-top: 50px;
}

.hero-int {
  max-width: 980px;
  height: 378px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 206, 171, 0.7)), to(rgba(59, 206, 171, 0.7))), url("../images/gallery/1.png");
  background-image: linear-gradient(rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url("../images/gallery/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.int {
  max-width: 980px;
  height: 378px;
  margin: -25px auto 0 auto;
}

.int .int-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  border-bottom: solid 2px #000000;
  padding-right: 30px;
  padding-bottom: 15px;
}

.int p {
  margin-top: 50px;
}