.hero{
    max-width: 980px;
    height: 378px;
    background-image:
    linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)),
    url("../images/gallery/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

}