.history {
    max-width: 980px;
    height: 378px;
    margin: -25px auto 0 auto;

    

}

.history .history-title{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    border-bottom: solid 2px #000000;
    padding-right: 30px;
    padding-bottom: 15px;
    font-family: GillSansReg;

}

.history p {
    margin-top: 50px;
    font-family: GillSansReg;
   
}

