.hero-speech{
    max-width: 980px;
    height: 378px;
    background-image:
    linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)),
    url("../images/gallery/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

}


.speech {
    max-width: 980px;
    height: 378px;
    margin: -25px auto 0 auto;

    

}

.speech .speech-title{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    border-bottom: solid 2px #000000;
    padding-right: 30px;
    padding-bottom: 15px;
    
}

.speech p {
    margin-top: 50px;
}